road[[:space:]]obstacle[[:space:]]night/road[[:space:]]obstacle[[:space:]]night/yolov8n.pt filter=lfs diff=lfs merge=lfs -text
road[[:space:]]obstacle[[:space:]]night/road[[:space:]]obstacle[[:space:]]night/assets/*.mp4 filter=lfs diff=lfs merge=lfs -text
